In [114]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [49]:
import sys
print("Python version")
print (sys.version)

Python version
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [50]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-10-24 14:39:18

In [52]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 1.1
The area of the circle with radius 1.1 is: 3.8013271108436504

In [55]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : Muhammad Umair
Input your Last Name : Zarar Khan
Hello  Zarar Khan Muhammad Umair

In [58]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))
sum = a + b
print(sum)

enter first number: 2
enter second number: 5
7

In [64]:
marks1 = int(input())
marks2 = int(input())
marks3 = int(input())
marks4 = int(input())
marks5 = int(input())

total = marks1+marks2+marks3+marks4+marks5
average = total/5

if average>=91 and average<=100:
    print("Your Grade is A+")
elif average>=81 and average<91:
    print("Your Grade is A")
elif average>=71 and average<81:
    print("Your Grade is B")
elif average>=61 and average<71:
    print("Your Grade is C")
elif average>=51 and average<61:
    print("Your Grade is D")
elif average>=41 and average<51:
    print("Your Grade is E")
elif average>=33 and average<41:
    print("Your Grade is F")
else:
    print("Invalid Input!")

90
85
75
65
50
Your Grade is B

In [65]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 7
This is an odd number.

In [68]:
List = ["Hello", "World", 1, 2, 3]
print (len(List))

5

In [106]:
a=[2,3,4,6,3]
total=0
for i in a:
    total=total+i
print(total)

18

In [107]:
list1 = [10, 20, 4, 45, 99]

print(max(list1))

99

In [113]:
Newlist= [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for element in Newlist:
    if(int(element) <5):
        print(str(element)+"\n")

1

1

2

3